* {
    margin: 0;
    padding: 0;
}
:root {
    --main-bg-color: #FFF8F0;
    --secondary-color: #282E3E;
    --accent-color: #FDBD2E;
    --main-font-color: #ffffff;
}
/* ------------------------------ */
/* atoms */
/* _____fonts */
.mainFontColor {
    color: var(--main-font-color);
}
.secondaryFontColor {
    color: var(--secondary-color);
}
.accentFontColor {
    color: var(--accent-color);
}
/* spacing */
.containerFluid {
    width: 100%;
    padding-right: var(1.5rem, 0.75rem);
    padding-left: var(1.5rem, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
/* ------------------------------ */
/* tags */
html {
    font-family: "popins", sans-serif;
}

body {
    background-color: var(--main-bg-color);
}
/* presentation card */
.presentationCard {
    background-color: var(--secondary-color);
    width: 85%;
    height: 70vh;
    border-radius: 8px;
}
.cardDots {

}
.animoji {
    width: 200px;
    height: 200px;
}