.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactInfo {
    margin-bottom: 4rem;
    display: inline-block;
}
.infoTab {
    background-color: #5ac0e7;
    border-radius: 8px 8px 0px 0px;
    height: max-content;
    padding: 0.5rem 1rem;
    width: max-content;
}
.infoWindow {
    background-color: #fcfcfc;
    height: max-content;
    width: max-content;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    padding: 0 1rem 1rem 1rem;
}
.infoItem {
    display: flex;
}
.contactForm {
    margin-bottom: 4rem;
}
.formTab {
    background-color: #fdbd2d;
    border-radius: 8px 8px 0px 0px;
    height: max-content;
    padding: 0.5rem 1rem;
    width: max-content;
}
.formWindow {
    background-color: #fcfcfc;
    height: max-content;
    width: max-content;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    padding: 1rem;
}
.contactForm input{
    height: 30px;
    background-color: $mainColor;
}
.contactForm textarea{
    background-color: $mainColor;
}
.formInput {
    font-family: "popins", sans-serif;
    font-weight: 600;
    border-radius: 2px;
    border: 0px;
}