@media (min-width: 1020px){
    .mobileHidden {
        display: inherit !important;
    }

    .desktopHidden {
        display: none !important;
    }

    //Presentation card Desktop
    .cardGrid{
        display: grid !important; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr;  
        grid-template-areas: 
            "info photo"; 
        place-items: center;
        height: inherit;
    }
    .cardGrid button {
        width: 45% !important;
    }
    .cardInfo {
        grid-area: info;
    }
    .cardPhoto {
        grid-area: photo;
        display: grid;
        justify-content: center;
        align-content: center; 
    }

    //Projects Desktop
    .projectDisplays {
        display: grid !important; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;  
        grid-template-areas: 
            "p1 p2"
            "p3 p4"; 
        place-items: center;
        height: inherit;
    }
    .project1 {
        grid-area: p1;
    }
    .project2 {
        grid-area: p2;
    }
    .project3 {
        grid-area: p3;
    }
    .project4 {
        grid-area: p4;
    }
    //Contact me Desktop
    .contact {
        display: flex !important;
    }
}