@media (min-width: 1020px){
    .mobileHidden {
        display: inherit !important;
    }

    .desktopHidden {
        display: none !important;
    }
    //Presentation card Desktop
    .cardGrid{
        display: grid !important; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr;  
        grid-template-areas: 
            "info photo"; 
        place-items: center;
        height: inherit;
    }
    .cardGrid button {
        width: 45% !important;
    }
    .cardInfo {
        grid-area: info;
    }
    .cardPhoto {
        grid-area: photo;
        display: grid;
        justify-content: center;
        align-content: center; 
    }

    //Projects Desktop
    .projectDisplays {
        display: grid !important; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;  
        grid-template-areas: 
            "p1 p2"
            "p3 p4"; 
        place-items: center;
        height: inherit;
    }
    .projectImage {
        width: 400px !important;
    }
    .project1 {
        grid-area: p1;
    }
    .project2 {
        grid-area: p2;
    }
    .project3 {
        grid-area: p3;
    }
    .project4 {
        grid-area: p4;
    }
    //about me
    .aboutMeCard{
        display: flex;
        flex-direction: row !important; 
        justify-content: space-evenly !important;
    }
    .aboutMeText {
        margin-left: 3rem;
    }
    .aboutMeParagraph {
       max-width: 900px;
    }
    //Services
    .serviceList {
        flex-direction: row !important;
    }
    .serviceList div{
        margin: 0 3rem !important;
    }
    //Contact me Desktop
    .contact {
        flex-direction: row !important;
        flex-wrap: wrap !important;
        width: 85% !important;
        margin-bottom: 4rem;
    }
    .contactInfo {
        margin: 0 auto;
    }
    .contactForm {
        margin: 0 auto;
    }
}