* {
    margin: 0;
    padding: 0;
}
/* ------------------------------ */
/* tags */
html {
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $mainFontColor;
}

/* ------------------------------ */
