/* presentation card */
.presentationCard {
    background-color: $secondaryColor;
    width: 85%;
    min-width: 185px;
    height: max-content;
    border-radius: 8px;
    margin: 8rem auto;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
.cardGrid{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 2rem 2rem 2rem 2rem;
}
.cardGrid button {
    width: auto;
}
.cardDots {
    margin: 0px 0px 0px 10px;
}
.cardDots div{
    background-color: #FDBD2E;
    width: 15px;
    height: 15px;
    margin: 15px 5px 0px 5px;
    border-radius: 50%;
    justify-content: space-around;
}
#cardDotRed {
    background-color: #FC5E59;
}
#cardDotYellow {
    background-color: #FDBD2E;
}
#cardDotGreen {
    background-color: #28CA47;
}
.cardInfo {
    margin-bottom: 2rem;
}
.cardPhoto {
    max-width: 300px;
    min-width: 105px;
    padding-left: 2rem;
}
.animoji {
    width: 100%;
    height: auto;
}