@media (min-width: 800px) and (max-width: 1020px) {
    .mobileHidden {
        display: none !important;
    }

    .desktopHidden {
        display: inherit !important;
    }
    
    //Presentation card Desktop
    .presentationCard {
        width: 55% !important;
        min-width: 185px;
        height: max-content;
        border-radius: 8px;
        margin: 3rem auto !important;
        box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    }
    .cardGrid{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding: 0rem !important;
    }
    .cardGrid button {
        width: 45% !important;
        margin: 2rem 0rem !important;
    }
    .animoji {
        margin-bottom: 1rem;
    }
    //Projects Desktop
    .projectDisplays {
        display: grid !important; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;  
        grid-template-areas: 
            "p1 p2"
            "p3 p4"; 
        place-items: center;
        grid-column-gap: 10px;
        height: inherit;
    }
    .project1 {
        grid-area: p1;
    }
    .project2 {
        grid-area: p2;
    }
    .project3 {
        grid-area: p3;
    }
    .project4 {
        grid-area: p4;
    }
    //about me
    .aboutMeCard{
        display: flex;
        flex-direction: row !important; 
        justify-content: space-evenly !important;
    }
    .aboutMeText {
        margin-left: 3rem;
    }
    //Services
    .serviceList {
        flex-direction: row !important;
    }
    .serviceList div{
        margin: 0 3rem !important;
    }
    //Contact me Desktop
    .contact {
        flex-direction: row !important;
        flex-wrap: wrap !important;
        width: 85% !important;
        margin-bottom: 4rem;
    }
    .contactInfo {
        margin: 0 auto;
    }
    .contactForm {
        margin: 0 auto;
    }
}